USE [DB_GENESIS_CENTRAL]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPalabras]    Script Date: 19/2/2025 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_GetPalabras]
(
	@str VARCHAR(64)
)
AS 
	SELECT 
		TOP 20
		CorrectWord
	FROM [DB_GENESIS_CENTRAL].[dbo].[ML_Productos] ML_Productos
	WHERE 
	LEN(CorrectWord) > 4
	AND 
	(	
		--MisspelledWord LIKE '%'+@str+'%'	
		--OR
		CorrectWord LIKE '%'+@str+'%'	
	)
	AND ISNULL(Estado,'A') = 'A'
	ORDER BY bias desc, CorrectWord asc

--SELECT	
--	DISTINCT 
--	TOP 10
--	value AS 'Word'	

--FROM PRODUCCION.TBL_PRODUCTOS   
--CROSS APPLY STRING_SPLIT(ITEMNAME, ' ') 

--where U_LABORATORIO < 9999 
--and ISNUMERIC(value) <> 1 
--and value NOT LIKE '%[^a-zA-Z ]%' 
--AND LEN(value) > 4

--AND value LIKE @str+'%'
